ion-title {
  text-align: center;
  color: #ffd534;
}

#buscarCep {
  display: flex;
  flex-direction: column;
}

ion-input {
  margin-bottom: 15px;
  text-align: center;
}

ion-button {
  display: flex;
  margin-top: 100px;
  margin-bottom: 20px;
}

.voltar {
  text-align: center;
  color: #ffd534;
  text-decoration: underline;
  cursor: pointer;
}
