ion-title {
  text-align: center;
  color: #ffd534;
}

ion-input {
  text-align: center;
}

ion-card {
  color: white;
}

ion-card-subtitle {
  color: white;
}

ion-button {
  display: flex;
  margin-top: 150px;
}

.consulta-div {
  text-align: center;
  margin-top: 20px;
}

.consulta-text {
  color: #ffd534;
  text-decoration: underline;
}
